{% extends 'blog/base.html' %}
{% block title %}
    <h1>Lista de Criminales</h1>
{% endblock %}
{% block content %}
    {% for Criminal in Criminales %}
        <div class="Victimas">
            <div class="info_general">
                <img id="Imagen" src="/media/{{ Criminal.img }}" alt="Articulo">
                <h2>{{ Criminal.name}}</h2>
                {% if Criminal.year %}
                    <h4>Edad:{{ Criminal.year}}</h4>
                {% endif %}
            </div>
            <p class="detail">{{ Criminal.detail |linebreaksbr }}</p>
            <p><a href="{% url 'Crimen' pk=Criminal.id %}"> Más información...</a></p>

        </div>
    {% endfor %}    
{% endblock %}