{% extends 'blog/base.html' %}
{% block title %}
    <h1>Lista de Robos y muertos</h1>
{% endblock %}
{% block content %}
    {% for Crimen in Crimenes %}
        <div class="post">
            <h2>{{ Crimen.title }}</h2>
            <div class="date">
                <p>Fecha: {{ Crimen.event_date }}</p>
            </div>
            <p>{{ Crimen.text|linebreaksbr }}</p>
            {% if Crimen.reasons %}
                <div class="Resons">
                    <p>Posible Razones:</p>
                    <p>{{ Crimen.reasons }}</p>
                </div>
            {% endif %}

            <p><a href="{% url 'Crimen' pk=Crimen.id %}"> Más información...</a></p>
        </div>
    {% endfor %}
{% endblock %}